@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 220 50% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 224 76% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 91% 60%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 30% 20%;
    --muted-foreground: 210 20% 85%;

    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 30% 30%;
    --input: 220 30% 25%;
    --ring: 224 76% 48%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 217 32% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 217 32% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 224 76% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 32% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 220 30% 20%;
    --muted-foreground: 210 20% 85%;

    --accent: 217 32% 18%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 32% 18%;
    --input: 217 32% 18%;
    --ring: 224 76% 48%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-white;
    background: linear-gradient(
      -45deg,
      #021540,
      #001122,
      #000511,
      #001122,
      #021540
    );
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    min-height: 100vh;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
